<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PPPK Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
        @Html.ActionLink("PPPK Project", "All", "Driver", new { area = "" }, new { @class = "navbar-brand col-sm-3 col-md-2 mr-0" })
    </nav>
    <div class="container-fluid">
        <main class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @Html.ActionLink("Drivers", "All", "Driver", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cars", "All", "Car", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Trave orders", "All", "TravelOrder", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>
        </main>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>Copyright &copy; @DateTime.Now.Year - Marino Skalnik | PPPK Project</p>
            </footer>
        </main>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
