@model IEnumerable<I1.Models.Car>
@using I1.Models

@{
    ViewBag.Title = "Car List";
    var brands = ViewBag.brands as List<CarBrand>;
    var types = ViewBag.types as List<CarType>;
}

<h2>Car List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr class="thead-dark">
        @*<th>
            @Html.DisplayNameFor(model => model.IDCar)
        </th>*@
        <th>Registration</th>
        <th>Initial (km)</th>
        <th>Year</th>
        <th>Brand</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IDCar)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => brands[item.CarTypeID - 1].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => types[item.CarTypeID - 1].Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCar }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCar })
            </td>
        </tr>
    }

</table>
