@model IEnumerable<I1.Models.TravelOrder>

@{
    ViewBag.Title = "Travel Order List";
}

<h2>Travel Order List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr class="thead-dark">
        @*<th>
            @Html.DisplayNameFor(model => model.IDTravelOrder)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelOrderTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartCityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishCityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IDTravelOrder)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelOrderTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartCityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishCityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTravelOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDTravelOrder })
        </td>
    </tr>
}

</table>
